<app-menu></app-menu>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />-->
<header class="mt-3">Creación de Cliente</header>

<form id="form" [formGroup]="clienteForm" (ngSubmit)="guardarPorId()">
    <div class="underline"></div>

    <ul class="mt-5 mb-5">
        
        <li>
            <label>Cedula:</label>
            <input type="text" formControlName="cedula" minlength=10 maxlength=10 data-ng-change="numbersOnly()" > 
            <!--Validaciones cedula-->
            <div class="alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
                <div class="container-error-message" *ngIf="cedula.errors.required">
                    Cedula requerida
                </div>
                <div class="container-error-message" *ngIf="cedula.errors.minlength">
                    Cedula debe tener 10 digitos
                </div>
            </div>
        </li>
        <li>
            <label>Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" pattern="(^[a-zA-Z]+$)" minlength=4 maxlength=50 onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
             <!--Validaciones nombre-->
             <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div class="container-error-message" *ngIf="nombre.errors.required">
                    Nombre requerido
                </div>
                <div class="container-error-message" *ngIf="nombre.errors.minlength">
                    Nombre debe tener minimo 4 caracteres
                </div>
            </div>
        </li>
        <li>
            <label>Apellido:</label>
            <input type="text" id="apellido" formControlName="apellido" pattern="(^[a-zA-Z]+$)" minlength=4 maxlength=50 onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
             <!--Validaciones apellido-->
             <div class="alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div class="container-error-message" *ngIf="apellido.errors.required">
                    Apellido requerido
                </div>
                <div class="container-error-message" *ngIf="apellido.errors.minlength">
                    El apellido debe tener minimo 4 caracteres
                </div>
            </div>
        </li>
        <li>
            <label class="mr-5">Fecha de Nacimiento:</label>
            <input  type="date" formControlName="fecha_nacimiento" onkeydown="return false" min="1980-01-01" max="2002-12-30">
        </li>

        <p align="right" class="mt-5">
            <button class="btn btn-default" class="btn btn-warning" [disabled]="clienteForm.invalid" type="submit">Guardar</button>

        </p>

        <!--Garantia-->
        <div class="underline"></div>

    </ul>


</form>
<p align="right" class="mt-5" style="margin-right: 225px;">
    <button class="btn btn-default" class="btn btn-dark" routerLink="/listarclientes">Regresar a la lista</button>
</p>
    
