<app-menu></app-menu>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<div class="col-12 text-center mb-5 mt-2">
  <h2 class="text-warning text-uppercase h6">Lista</h2>
  <h1 class="text-capitalize">&bull; De Clientes &bull;</h1>
  <div class="underline">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Buscar por cedula..." [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  </div>
<p align="right" class="mt-2" style="margin-right: 115px;">
  <button class="btn btn-default" class="btn btn-warning" type="button" routerLink="/creacion-cliente">Crear Cliente</button>
</p>
<div class="container mt-2">
  <table class="table table-bordered border-dark">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Acciones</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clientes | filter:filterPost">
        <td>{{item.cedula}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>
          <button (click)="Venta(item)"class="btn btn-dark btn-xs" >Generar Compra</button>
          <button (click)="Editar(item)" class="btn btn-success btn-xs" style="margin-left: 6px;">Editar</button>
          <button (click)="Eliminar(item)" class="btn btn-danger btn-xs" style="margin-left: 6px;">Eliminar</button>

        </td>
      </tr>
    </tbody>

  </table>
</div>
