
  <p class="text-center fs-1" name="from_name" ><b>STAR MOTORS <br>TALLER</b></p>
  <p class="text-center fs-2" ><b>EDITAR INFORME</b></p>
  
 
<form >
    <div class="underline"></div>
        <ul class="mt-5 mu=5">
            <div>
                <label  for="floatingInputValue">Cedula:</label>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <input type="text" [(ngModel)]="informeTaller.id_cliente"  name="id_cliente">
                
              </div>
            <br>
            <br>
            <div>
                <label  for="floatingInputValue">Nombre:</label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="text" [(ngModel)]="informeTaller.nombre"  name="nombre">
                
              </div>
            <br>
            <br>
            <div>
                <label for="floatingInputValue">Placa Vehiculo:</label>&nbsp;
                <input type="text" [(ngModel)]="informeTaller.placa" name="placa">
              
            </div>
            <br><br>
            <div>
                <label for="floatingInputValue">Descripción:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" [(ngModel)]="informeTaller.descripcion" name="descripcion">
               
            </div>
          <br><br> 
          <div>
            <label for="floatingInputValue">Total:</label>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
            <input type="text" [(ngModel)]="informeTaller.total" name="total">
           
        </div>
        <br><br>
    
            <p  class="mt-5">
                <button (click)="Actualizar(informeTaller)" style="float:right"class="btn btn-default" class="btn btn-warning">Editar</button>
            </p>
            
        </ul>
        <p  class="mt-5" style="margin-left: 35px;">
            <button class="btn btn-default" class="btn btn-dark" style="float: left" routerLink="/listar">Regresar a la lista</button>
        </p>
        <br>
    </form>
    