<app-menu></app-menu>
<div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
  </div>
  <p class="text-center fs-2" ><b>EDITAR INFORME</b></p>
  
 
<form >
    <div class="underline"></div>
        <ul class="mt-5 mu=5">
            <div>
                <label  for="floatingInputValue">Cedula:</label>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <input type="text" [(ngModel)]="informeTaller.cedula"  name="cedula">
                
              </div>
            <br>
            <br>
            <div>
                <label  for="floatingInputValue">Nombre:</label>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <input type="text" [(ngModel)]="informeTaller.nombre"  name="nombre">
                
              </div>
            <br>
            <br>
            <div>
                <label for="floatingInputValue">Placa Vehiculo:</label>&nbsp;
                <input type="text" [(ngModel)]="informeTaller.placa" name="placa">
              
            </div>
            <br><br>
            <div>
                <label for="floatingInputValue">Descripción:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" [(ngModel)]="informeTaller.descripcion" name="descripcion">
               
            </div>
          <br><br> 
          <div>
            <label for="floatingInputValue">Total:</label>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
            <input type="text" [(ngModel)]="informeTaller.total" name="total">
           
        </div>
        <br><br>
    
            <p  class="mt-5">
                <button (click)="Actualizar(informeTaller)" style="float:right"class="btn btn-default" class="btn btn-warning">Editar</button>
            </p>
            
        </ul>
        <br>
    </form>