<app-menu></app-menu>
<div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<div class="container">
  <table class="table table-bordered border-secondary">
    <thead>
      <tr class="table-secondary">
        <th style="text-align: center" scope="col"> Id</th>
        <th style="text-align: center" scope="col">Nombre Cliente</th>
        <th style="text-align: center" scope="col">Placa</th>
        <th style="text-align: center" scope="col">Ver</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let factura of facturas">
        <td align="center">{{factura.id_factura}}</td>
        <td align="center">{{factura.cliente.nombre}} {{factura.cliente.apellido}}</td>
        <td align="center">{{factura.placa}}</td>
        <td style="text-align: center">
          <button  class="btn btn-success" (click)="ver(factura)"><i class="fas fa-eye"></i> Ver</button></td>
        
        
      </tr>
    </tbody>
  </table>
</div>