<app-menu></app-menu>
<div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<div class="container">
    <h1 align="center"><i class="fas fa-clipboard-check"></i> Reporte Garantias </h1>
    <div class="container">
        <br><br>
        <br><br>
        <div class="row">
            <div align="right" class="col-sm-5 col-md-6">
                <button class="btn btn-success" (click)="verReclamo(reclamo)"><i class="far fa-check-circle"></i>
                    Aprobadas</button>
            </div>
            <br><br>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <button class="btn btn-danger" (click)="cargarReclamoD(reportedenegado)"><i class="far fa-times-circle"></i>
                    Denegadas</button>
            </div>
        </div>
    </div>
    
</div>