<app-menu></app-menu>
<!-- Esto no va aqui wbon, en el index ya te pone global -->
<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" /> -->
<div class="col-12 text-center mb-5 mt-2">
  <div style="text-align: center;">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
  </div>
  <h1 class="text-capitalize">&bull; Despacho de Repuestos &bull;</h1>

  <div class="underline">
  </div>
</div>
<p align="right" class="mt-5" style="margin-right: 115px;">
</p>
<table class="table table-bordered border-secondary">
  <thead>
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
     
      <th scope="col">Acciones</th>
    </tr>
  <tbody>

    <tr *ngFor="let item of listaReceptora">
      <td>{{item.id_repuesto}}</td> 
      <td>{{item.materiales}}</td>
      <td>${{item.precio}}</td>
      <td>
        <button (click)="quitar(item)" class="btn btn-success btn-xs" style="margin-left: 6px;">Quitar</button>


      </td>

    </tr>

  </tbody>
  <button (click)="sendEmail($event)" class="btn btn-success btn-xs" style="margin-left: 6px;">Enviar Repuestos a Taller</button>

</table>
<h3>Lista de Repuestos</h3>
<form>
  <div class="form-group">
    <input type="text" class="form-control" name="filterPost" placeholder="Buscar Repuesto por Nombre, Modelo, Marca..."
      [(ngModel)]="filterPost">
  </div>

</form>
<table class="table table-bordered border-secondary">
  <thead>
    <tr class="table-info">
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of listaEmisora | filter:filterPost">
      <td>{{item.id_repuesto}}</td> 
      <td>{{item.materiales}}</td>
      <td>${{item.precio}}</td>
      <td>{{item.stock}}</td>
      <td>
        <button (click)="(agregar(item))" class="btn btn-success btn-xs" style="margin-left: 6px;">Agregar a
          Despacho</button>
      </td>

    </tr>

  </tbody>


</table>