<app-menu></app-menu>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<div class="col-12 text-center mb-5 mt-2">
    <div style="text-align: center;">
        <img src="../../../../assets/logotipo.jpeg"  class="img-fluid" width="300" height="300">
      </div>
  <h1 class="text-capitalize">&bull; Informe Reparaciones Ejecutar &bull;</h1>
  <div class="underline">
  </div>
</div>


<form id="form" [formGroup]="OrdenForm" (ngSubmit)="guardar()" class="contact-form" (submit)="sendEmail($event)"
>
 
    <ul class="mt-5 mu=5">

        <li>
            <label>Ingrese id de orden</label>
            <input type="text"  name= "id_orden" formControlName="name">
        </li>
      
        <li>
            <label>Ingrese id de cliente</label>
            <input type="text"  name= "id_cliente" formControlName="name">
        </li>

        
       
        <li>
            <label >Descripción de Orden de reparación:</label>
            <textarea style="margin-left: 20px;"  id="txtContenido"  name ="message" formControlName="descripcion"></textarea>
        </li>
       

        <p align="center" class="mt-5">
            <button class="btn btn-warning" class="btn btn-warning" type="submit">
             Enviar Orden</button>

        </p>

    
       
    </ul>


</form>
