<app-menu></app-menu>
    <div style="text-align: center;">
        <img src="../../../../assets/logotipo.jpeg"  class="img-fluid" width="300" height="300">
      </div>
  <h1 style="text-align: center"><i class="fas fa-tools"></i> Orden de Reparaciones a Ejecutar </h1>
<form id="form" [formGroup]="OrdenForm" (ngSubmit)="guardar()" class="contact-form" (submit)="sendEmail($event)"
 name = "formulario">
    <ul class="mt-5 mu=5">
        <li>
            <label>Ingrese id de orden</label>
            <input type="text"  name= "id_orden" formControlName="name">
        </li>
        <li>
            <label>Ingrese id de cliente</label>
            <input type="text"  name= "id_cliente" formControlName="name">
        </li>
        <li>
            <label >Descripción de Orden de reparación:</label>
            <textarea style="margin-left: 20px;"  id="txtContenido"  name ="message" formControlName="descripcion"></textarea>
        </li>
        <p align="center" class="mt-5">
            <button class="btn btn-warning" class="btn btn-warning" type="submit">
             Enviar Orden</button>
        </p>   
    </ul>
</form>
