<app-menu></app-menu>
<div class="container-fluid d-flex justify-content-center">
    <div class="card border-primary mb-5">
        <div class="card-header">
            <div class="container-fluid" style="text-align: center">
                <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
            </div>
            <h1 align="center">Verificación Documentos</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <span class="input-group-btn">
                    <div class="col">
                        <label for="mail">Nombre Cliente:</label>
                        <input type="text" id="mail" name="user_mail" class="form-control" placeholder="" required>
                    </div>
                    <div class="col">
                        <label for="mail">Placa:</label>
                        <input type="text" id="mail" name="user_mail" class="form-control" placeholder="" required>
                    </div>
                </span>
                <br>
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <form id="form">
                                    <ul class="mt-5">
                                        <!--Factura-->
                                        <div class="mt-5">
                                            <h2 align="center">Factura</h2>
                                        </div>
                                        <div class="underline"></div>

                                        <!--Fecha-->

                                        <div class="col">
                                            <label for="name">Fecha: </label>
                                            <input type="text" id="name" name="user_name" class="form-control"
                                                placeholder="" required>
                                        </div>

                                        <!--Cedula-->

                                        <div class="col">
                                            <label for="name">Cedula: </label>
                                            <input type="text" id="name" name="user_name" class="form-control"
                                                placeholder="" required>
                                        </div>

                                        <!--Nombre-->

                                        <div class="col">
                                            <label for="name">Nombre: </label>
                                            <input type="text" id="name" name="user_name" class="form-control"
                                                placeholder="" required>
                                        </div>
                                        <!--Descripcion-->

                                        <div class="form-group">
                                            <label for="name" class="mr-5">Descripcion:</label>
                                            <textarea type="text" class="form-control" name="message" rows="3"
                                                required></textarea>
                                        </div>

                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <form id="form">

                                    <!--Garantia-->

                                    <div class="mt-5">
                                        <h2 align="center">Garantia</h2>
                                    </div>
                                    <div class="underline"></div>
                                    <!--Número de Chasis: -->
                                    <div class="col">
                                        <label for="name">Número de Chasis: </label>
                                        <input type="text" id="name" name="user_name" class="form-control"
                                            placeholder="" required>
                                    </div>
                                    <!--Número de Motor:-->
                                    <div class="col">
                                        <label for="name">Número de Motor: </label>
                                        <input type="text" id="name" name="user_name" class="form-control"
                                            placeholder="" required>
                                    </div>

                                    <!--Año de fabicación:-->

                                    <div class="col">
                                        <label for="name">Año de fabicación: </label>
                                        <input type="text" id="name" name="user_name" class="form-control"
                                            placeholder="" required>
                                    </div>
                                    <!--numero motor-->

                                    <div class="col">
                                        <label for="name">Número de Motor:</label>
                                        <input type="text" id="name" name="user_name" class="form-control"
                                            placeholder="" required>
                                    </div>

                                    <!--ramv-->

                                    <div class="col">
                                        <label for="name">RAMV:</label>
                                        <input type="text" id="name" name="user_name" class="form-control"
                                            placeholder="" required>
                                    </div>

                                </form>


                            </div>
                            <div class="underline"></div>
                            <br>

                        </div>
                    </div>

                </div>
                <a href="comercializadora-aceptacion" class="btn btn-success"
                    style="margin-block: 20px; margin-top: 40px;" type="button"><i class="far fa-check-circle"></i>
                    Aceptar</a>
                <a href="informe-rechazo" class="btn btn-danger" style="margin-block: 20px; margin-top: 40px;"
                    type="button"><i class="far fa-times-circle"></i> Denegar</a>

            </div>
        </div>
    </div>
</div>