<app-menu></app-menu>
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1 align="center">Generar Compra</h1>
        </div>
    </div>
    <!--Inicio metodo guardar-->
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <button type="button" class="btn btn-warning" (click)="consultar()">Regresar a la lista</button>
        </div>

        <form (ngSubmit)="guardar()" id="formulario" class="mb-5 ml-5">
            <ul>
                <!--Id cliente-->
                <div class="form-group">
                    <label>id cliente:</label>
                    <input type="number" class="form-control" [(ngModel)]="factura.id_cliente"
                        [ngModelOptions]="{standalone:true}" required>
                </div>
                <!--Factura tipo-->
                <div class="form-group">
                    <label>tipo:</label>
                    <input type="text" class="form-control" [(ngModel)]="factura.tipo"
                        [ngModelOptions]="{standalone:true}" required>
                </div>
                <hr class="mt-2">
                <div >
                    <div class="col-md-3 mt-3" align="center">
                        <label >Vehiculos</label>
                    </div>
                    <!--Agregar boton para agregar varios vehiculos-->
                    <div class="col-md-9 mb-5 mt-5">
                        <button type="button" class="btn btn-dark" (click)="agregarPorducto()">Agreagar
                            Producto</button>
                    </div>
                    <div *ngFor="let producto of factura.detalleList">
                        <li>
                            <div class="row">
                                <div type="button" class="btn btn-danger" (click)="eliminar(producto)">Eliminar Producto
                                </div>
                            </div>
                        </li>
                        <!--placa vehiculo-->
                        <li>
                            <div class="form-group">
                                <label>placa:</label>
                                <input type="text" class="form-control" [(ngModel)]="producto.placa"
                                    [ngModelOptions]="{standalone:true}" required>
                            </div>
                        </li>
                        <!--placa subtotal-->
                        <li>
                            <div class="form-group">
                                <label>subtotal:</label>
                                <input type="text" class="form-control" [(ngModel)]="producto.subtotal"
                                    [ngModelOptions]="{standalone:true}" required>
                            </div>
                        </li>
                        <!--Iva-->
                        <li>
                            <div class="form-group">
                                <label>iva:</label>
                                <input type="text" class="form-control" [(ngModel)]="producto.iva"
                                    [ngModelOptions]="{standalone:true}" required>
                            </div>
                        </li>
                        <li>
                            <!--Total-->
                            <div class="form-group">
                                <label>Total:</label>
                                <input type="text" class="form-control" [(ngModel)]="producto.total"
                                    [ngModelOptions]="{standalone:true}" required>
                            </div>
                        </li>
                    </div>
                    <input type="submit" class="btn btn-dark" value="Guardar">
                </div>

            </ul>

        </form>

        <div>