<app-menu></app-menu>

<div>
    <h1 align="center">Generar Factura</h1>
</div>

<div>
    <button type="button" style="margin-left: 50px;" class="btn btn-warning" (click)="consultar()">Regresar a la
        lista</button>
</div>
<!--Inicio metodo guardar-->
<div class="container mt-5" style="align-content: center;">


    <form (ngSubmit)="guardar()" id="formulario" class="ml-5">
        <div class="underline mb-5 ">
            <ul>
                <div id="htmlData">
                    <li>
                        <!--Fecha-->

                        <!--Tres datos en una solo columna-->
                        <span class="input-group-btn">
                            <!--cedula Cliente-->
                            <label>Cedula:</label>
                            <input readonly class="input2" [(ngModel)]="cliente.cedula" type="text" name="cedula">
                            <!--nombre Cliente-->
                            <label>Nombre:</label>
                            <input readonly class="input2" [(ngModel)]="cliente.nombre" type="text" name="nombre">
                            <!--apellido Cliente-->
                            <label>Apellido:</label>
                            <input readonly [(ngModel)]="cliente.apellido" class="input2" type="text" name="apellido">
                        </span>
                    </li>


                    <!--Factura tipo-->
                    <li>
                        <span >
                        <label>Descripcion:</label>
                        <input type="text" class="input2" [(ngModel)]="factura.tipo" name="descripcion"
                            [ngModelOptions]="{standalone:true}" required>
                        <label class="mr-5">Fecha:</label>
                        <input type="date" [(ngModel)]="factura.fecha" [ngModelOptions]="{standalone:true}" name="fecha" onkeydown="return false" min="2021-01-01"
                            max="2030-12-30">
                        </span>
                    </li>

                    <!--Dato de prueba-->

                    <hr class="mt-2">
                    <div>
                        <div class="col-md-3 mt-3" align="center">
                            <label class="mb-5">Vehiculos</label>
                        </div>
                        <!--Agregar boton para agregar varios vehiculos-->
                        <!--  
                <div class="col-md-9 mb-5 mt-5">
                    <button type="button" class="btn btn-dark" (click)="agregarPorducto()">Agreagar
                        Producto</button>
                </div>-->
                        <div *ngFor="let producto of factura.detalleList">
                            <!--<li>
                        <div type="button" class="btn btn-danger" (click)="eliminar(producto)">Eliminar Producto
                        </div>
                    </li>-->
                            <!--placa vehiculo-->
                            <li>
                                <span class="input-group-btn">
                                    <label>placa:</label>

                                    <select [(ngModel)]="producto.placa" name="vehiculo" id="vehiculo"
                                        class="form-control" [ngModelOptions]="{standalone:true}" required
                                        style="margin-left: 120px;">

                                        <option *ngFor="let item of vehiculo" [ngValue]="item.placa">
                                            {{item.placa}} {{item.modelo}} {{item.color}}

                                        </option>
                                    </select>
                                    <!--
                        <input type="text" class="input2" [(ngModel)]="producto.modelo"
                            [ngModelOptions]="{standalone:true}" required>-->
                                </span>
                            </li>
                            <!--placa subtotal-->
                            <li>
                                <label>subtotal:</label>
                                <input type="text" class="input2" [(ngModel)]="producto.subtotal"
                                    [ngModelOptions]="{standalone:true}" required>
                            </li>
                            <!--Iva-->
                            <li>
                                <label>I.V.A. 12%:</label>
                                <input type="text" class="input2" required [(ngModel)]="iva" name="iva" readonly>
                            </li>
                            <!--Total-->
                            <li>
                                <label>Total:</label>
                                <input type="text" class="input2" [(ngModel)]="factura.total"
                                    [ngModelOptions]="{standalone:true}" required>
                            </li>

                            <div>
                                <button type="submit" class="btn btn-dark mt-5" value="Guardar">Guardar</button>
                            </div>
                        </div>

                    </div>
                    <!--Cierre pdf-->
                </div>

            </ul>
        </div>
    </form>
    <!--botones-->
    <div>
        <button type="button" style="margin-left: 22px" class="btn btn-warning mt-5 mb-2"
            (click)="sumar()">Sumar</button>
    </div>
    <div>

        <button class="btn btn-danger  ml-4" (click)="downloadPDF()"><i class="fas fa-print"></i> Descargar PDF</button>
    </div>
</div>


<div>