<app-menu></app-menu>
<h1 align="center" class="mt-3">GENERAR RECLAMOS</h1>
<br>
<div class="">
  <form (submit)="guardar()" [formGroup]="reclamoForm" class="mt-3 mb-5">
    <div class="underline mb-3"></div>
    <div class="mb-3 row">
      <label class="container" for="staticEmail" class="col-sm-2 col-form-label">Id_Garantia</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly formControlName="id_solicitudgarantia"  type="text"
          aria-label=".form-control-sm example" >
      </div>
    </div>

    <div class="mb-3 row">
      <label class="container col-sm-2 col-form-label" for="staticEmail" >Id_Cliente</label>
      <div class="col-sm-10">
        <input type="text" readonly formControlName="id_cliente">
      </div>
    </div>



    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly formControlName="nombre" type="text" c
          aria-label=".form-control-sm example">
        <br>

      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">Motivo</label>
      <div class="col-sm-10">
        <textarea class="form-control" readonly formControlName="motivo" id="exampleFormControlTextarea1" rows="3"
          style="width:200px;height:150px"></textarea>
      </div>
    </div>

    <div class="mb-3 row">
      <label class="container col-sm-2 col-form-label" for="staticEmail">Placa</label>
      <div class="col-sm-10">
        <input class="form-control" readonly type="text" aria-label=".form-control-sm example" formControlName="placa">
      </div>
    </div>


    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">NUMERO DE CHASIS</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly formControlName="numero_chasis" type="text"
          aria-label=".form-control-sm example">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">Marca</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly name="marca" type="text" aria-label=".form-control-sm example"
          formControlName="marca">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">Color</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly formControlName="color" type="text"
          aria-label=".form-control-sm example">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticEmail" class="container col-sm-2 col-form-label">Modelo</label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" readonly formControlName="modelo" type="text"
          aria-label=".form-control-sm example">
        <br>

      </div>
    </div>

    <button type="submit" class="btn btn-warning" style="margin-bottom: 50px;">ENVIAR RECLAMO</button>
  </form>
</div>