
<app-menu></app-menu>
<p class="text-center fs-1" name="from_name" ><b>STAR MOTORS TALLER</b></p>
  <div align="center"><img src="assets/logotipo.jpg"  class="img-fluid" width="300" height="300" aligment="center"></div>
  <p class="text-center fs-2" ><b>INFORME DE REPARACIÓN</b></p>
  <hr>
<form class="form-floating" [formGroup]="informeForm" (ngSubmit)="guardar()" (ngSubmit)="sendEmail($event)">
  <div class="form-floating" >
  <input type="text" class="form-control input2" id="floatingInputValue" name= "to_email" formControlName="to_email">
  <label for="floatingInputValue">Ingrese el correo</label>
</div>
<br><br><br>
<div class="form-floating" >
 
  <input type="text" class="form-control input2" id="floatingInputValue"  name= "id_cliente" formControlName="id_cliente">
  <label for="floatingInputValue">Ingrese la Cedula del propietario ejm: 0100000000</label>
</div>
<br><br><br>
<div class="form-floating" >
  <input type="text" class="form-control input2" id="floatingInputValue" name="placa"  formControlName="placa" >
  <label  for="floatingInputValue">Ingrese la placa del vehículo ejem:AZ000</label>
</div>
  <br><br>
 
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text input2" >Ingrese<br>Los materiales <br> utilizados <br> y mano de <br>obra</span>
         
        </div>

        <textarea class="form-control input2"  name="message" aria-label="With textarea" formControlName="descripcion"></textarea>
      </div>   
       <br><br><br>
  <div class="col text-center">
    <button  class="btn btn-default btn btn-dark input2" type="submit">Enviar</button>
  </div>
</form>