<app-menu></app-menu>
<div style="text-align: center;">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
</div>
<h1 style="text-align: center"><i class="fas fa-tools"></i> Informe Reparaciones mafer Ejecutar </h1>

<form id="form" [formGroup]="informeForm" (ngSubmit)="guardar()" class="contact-form" (submit)="sendEmail($event)">

    <ul class="mt-5 mu=5">

        <li>
            <label>Ingrese Nombre de cliente</label>
            <input type="text" name="name" formControlName="name">
        </li>
        <li>
            <label>Ingrese Gmail</label>
            <input type="text" name="user_email" formControlName="user_email">
        </li>

        <li>
            <label>Placa:</label>
            <input type="text" name="placa" formControlName="placa">
        </li>

        <li>
            <label>Contenido de Informe:</label>
            <textarea style="margin-left: 20px;" id="txtContenido" name="message"
                formControlName="contenido"></textarea>
        </li>


        <p align="center" class="mt-5">
            <button class="btn btn-warning" class="btn btn-warning" type="submit">
                Enviar Informe</button>

        </p>



    </ul>


</form>