<app-menu></app-menu>
<div class="container">
  <div class="container" style="text-align: center">
    <img src="../../../../assets/logotipo.jpeg" class="img-fluid" width="300" height="300">
  </div>
  <h1 align="center">Aceptación de Garantía </h1>
  <a href="inicio-comercializadora" class="btn btn-dark" style="margin-block: 20px; margin-trim: 400px;"
  type="button"><i class="fas fa-chevron-circle-left"></i> Regresar</a>
  <div class="container" *ngIf="reclamo">
 
      <form class="contact-form" (submit)="sendEmail($event)">
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <th for="nombre">Nombre Cliente</th>
              <input type="text" class="form-control" id="nombre" name="user_name" [(ngModel)]="reclamo.cliente.nombre"
                required>
            </div>

            <div class="col">
              <th for="precio">Placa Cliente</th>
              <input type="text" class="form-control" id="precio" name="placa" [(ngModel)]="reclamo.placa"
                required>
            </div>

            <div class="col">
              <th>Correo Cliente</th>
              <input type="text" class="form-control" name="user_email" required>
            </div>

          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="8" placeholder=required>

Fecha:
Hora:
              
Por favor leer y seguir las siguientes recomendaciones, puesto que en esta situación es necesaria la colaboración de las y los clientes:
 NO acudir al taller si se tiene fiebre o síntomas respiratorios.
 Llegar media hora antes de la hora señalada.
 Respetar las indicaciones establecidas en el local.
 Respetar las distancias de seguridad, evitando crear aglomeraciones.
            
IMPORTANTE: 
Responder este correo con su confirmación dentro de 48h.
Muchas gracias.
          </textarea>

        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block"><i class="fas fa-share-square"></i> Enviar</button>
        
      </form>
  
  </div>
  <br><br>
</div>